<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/list">Lista de Carro</a>

    <form method="post" action="/home">

        <div th:if="${carroAntigo}">
            <input type="hidden" name="id" th:value="${carroAntigo?.id}">
        </div>

        <label>Modelo</label>
        <input type="text" name="modelo" th:value="${carroAntigo?.modelo}">
        <p></p>

        <label>Ano</label>
        <input type="text" name="ano" th:value="${carroAntigo?.ano}"> 
        <p></p>

        <label>Cor</label>
        <input type="text" name="cor" th:value="${carroAntigo?.cor}">
        <p></p>

        <label>Fabricante</label>
        <input type="text" name="fabricante" th:value="${carroAntigo?.fabricante}">
        <p></p>

        <button type="submit">Salvar</button>

    </form>
    
</body>
</html>